<div class="relative bg-white dark:bg-gray-900">
  <div
    class="flex justify-between border-b-2 border-b-gray-100 p-4 dark:border-b-gray-800"
  >
    <div>Logo</div>

    <div class="absolute left-1/2 -translate-x-1/2 font-sans font-bold">
      H1 Content here
    </div>

    <div>Small Nav</div>
  </div>

  <div class="bg-white p-8 text-center dark:bg-gray-900">Page Content</div>
</div>
