---
import Content from '../components/Content.astro'
import Link from '../components/Link.astro'
import PageHeading from '../components/PageHeading.astro'
import Standard from '../layouts/Standard.astro'
---

<Standard title="404: Not Found | Kyle Shevlin">
  <Content>
    <div class="flex flex-col gap-8">
      <PageHeading>Not Found</PageHeading>

      <p>
        Sorry, you've hit a URL that doesn't exist! That's a bummer. Please try
        a different URL or head to <Link href="/all-posts">All Posts</Link> and try
        and find the page there.
      </p>
    </div>
  </Content>
</Standard>
