---
import Content from '../components/Content.astro'
import PageHeading from '../components/PageHeading.astro'
import Standard from '../layouts/Standard.astro'
---

<Standard title="404: Not Found | Kyle Shevlin">
  <Content>
    <div class="flex flex-col gap-8">
      <PageHeading>Not Found</PageHeading>

      <p>
        Sorry, you've hit a URL that doesn't exist! That's a bummer. Please try
        a different URL or perhaps choose one of the blog posts listed below.
      </p>

      <div>TODO: Suggest 5 posts</div>
    </div>
  </Content>
</Standard>
