---
import Content from '../components/Content.astro'
import Link from '../components/Link.astro'
import Marker from '../components/Marker.astro'
import PageHeading from '../components/PageHeading.astro'
import Prose from '../components/Prose.astro'
import Standard from '../layouts/Standard.astro'
---

<Standard title="About | Kyle Shevlin">
  <Content>
    <Prose>
      <PageHeading>About</PageHeading>

      <p>
        Hello, my name is Kyle Shevlin{' '}
        <Marker content="In case you hadn't figured that out yet" /> and I&apos;m
        a software engineer, living and working in wonderful Portland, Oregon.
      </p>

      <p>
        I care a lot about quality, whether it's my coding, my writing, or
        anything else I do. I'm driven to constantly improve at my craft, and
        I&apos;m passionate about helping others improve at theirs.
      </p>

      <p>
        When I&apos;m not working, I&apos;m probably working on my golf game. I
        play in tournaments all around the Pacific Northwest and occasionally
        even win one once in a while. I have a nascent <Link
          href="https://kyleshevlingolf.com"
        >
          {'golf blog'}
        </Link> I&apos;m just getting started to share some of my insights into the
        game with others.
      </p>

      <p>
        When I&apos;m not playing golf, you can probably find me playing video
        games with my wife{' '}
        <Marker
          content="That's right, she games, too. I'm pretty lucky like that."
        />{' '}
        or having a good beer and food with some friends.
      </p>

      <div class="mx-auto mb-8 max-w-[480px]">
        <img
          class="block"
          src="/images/Anna-and-Kyle.jpg"
          alt="Anna and Kyle at FINE's Christmas Party"
        />

        <div
          class="bg-gray-100 px-8 py-4 font-sans italic leading-normal dark:bg-gray-800"
        >
          My wife trying to take a bite out of me with one of those hats that
          Sherlock Holmes would wear.
        </div>
      </div>
    </Prose>
  </Content>
</Standard>
