---
import Content from '../components/Content.astro'
import Marker from '../components/Marker.astro'
import PageHeading from '../components/PageHeading.astro'
import Prose from '../components/Prose.astro'
import Standard from '../layouts/Standard.astro'
---

<Standard title="AI Usage | Kyle Shevlin">
  <Content>
    <Prose>
      <PageHeading>AI Usage</PageHeading>

      <p>
        Everything you read on this website is written by me, personally, and
        will never be written by an AI.
      </p>

      <p>
        In general, I'm not opposed to AI. I find LLMs to be useful tools for
        certain aspects of my job as a software engineer. I may even write about
        AI and how I use it on the job in a post for this blog. But AI will not
        assist me in the writing of it.
      </p>

      <p>
        I recognize that there are probably ways to use generative AI in writing
        that are ethically sound, but it doesn't work for me. Not only do I find
        generative AI to be incredibly distracting as I write, <Marker
          content="I legitimately have turned it off for the <code>.mdx</code> extension. I need to find a way to get it to stop suggesting code comments. Good golly, it's not only wrong but straight-up annoying, too."
        /> with its regurgitations of nonsense that have nothing to do with what
        I'm saying, but it doesn't align with my core principles of being genuine
        and authentic either.
      </p>

      <p>
        The way I see it, if you're going to spend some of your precious time on
        Earth on this website, then you deserve to get <strong
          >me and my thoughts</strong
        > and not some generated drivel. I know I appreciate that of other writers,
        and I hope you appreciate that of me.
      </p>

      <p>
        Lastly, I believe we need to keep parts of the internet human. We need
        real voices in our digital world. I'm going to keep doing my part.
      </p>
    </Prose>
  </Content>
</Standard>
