---
import { getCollection } from 'astro:content'
import { AllPostsList } from '../components/AllPostsList'
import Content from '../components/Content.astro'
import PageHeading from '../components/PageHeading.astro'
import Prose from '../components/Prose.astro'
import Standard from '../layouts/Standard.astro'
import { byEntryDate } from '../utils'

const posts = await getCollection('posts')
const byDate = posts.toSorted(byEntryDate)
---

<Standard title="All Posts | Kyle Shevlin">
  <Content>
    <Prose>
      <PageHeading>All Posts</PageHeading>

      <p>
        Here is a list of all of my posts, sorted by the date they were
        published. Use the input below to filter posts by title, subtitle,
        description, or tags.
      </p>

      <AllPostsList client:load posts={byDate} />
    </Prose>
  </Content>
</Standard>
