---
import Content from '../components/Content.astro'
import Link from '../components/Link.astro'
import PageHeading from '../components/PageHeading.astro'
import Prose from '../components/Prose.astro'
import Standard from '../layouts/Standard.astro'
---

<Standard
  title="A.R.T. | Kyle Shevlin"
  description="Another Routine Thursday is a weekly opportunity to hang or cowork together in Portland, Oregon"
>
  <Content>
    <Prose>
      <PageHeading>A.R.T.</PageHeading>

      <p>As someone with AuDHD, I often have competing needs and desires.</p>

      <p>
        My ADHD craves the stimulation of a good social hang, but hates the work
        of planning ahead for it. Not to mention the additional sting due to
        rejection sensitivity dysphoria when people turn down an invitation.
      </p>

      <p>
        My autism craves routine over planning, too. I don't want to make a
        bunch of decisions. I just want to know I'm going to roughly the same
        place, at the same time, doing something I want to do.
      </p>

      <p>
        And it just so happens I have pretty much every Thursday night free to
        myself.
      </p>

      <p>
        One way for me to encompass all these concerns of mine is to establish a
        routine of going to a place to hang, and making it an open invitation to
        anyone that wants to join me. Hence, <strong
          >Another Routine Thursday</strong
        >, aka A.R.T.
      </p>

      <p>
        A.R.T. is a low-key gathering to hang or cowork together. Each Thursday,
        I'll take my laptop to a bar, and either people join and we hang out, or
        I get some work done. At the very least, I get out of the house and have
        a couple beers. Win-win for me.
      </p>

      <p>
        If you're in the Portland area, I'd love for you to join me some time.
        For now, I'm going to <Link
          href="https://www.instagram.com/beerportland/#"
        >
          Beer
        </Link> at <Link
          href="https://www.google.com/maps/dir//1410+SE+Stark+St,+Portland,+OR+97214/@45.5191125,-122.7336898,38625m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x5495a0a39d8190cd:0xbc8155f7284c138!2m2!1d-122.6512892!2d45.5191421?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D"
        >
          1410 SE Stark St
        </Link> at 7pm every Thursday. Come have a pint.
      </p>
    </Prose>
  </Content>
</Standard>
