---
import Content from '../components/Content.astro'
import Link from '../components/Link.astro'
import PageHeading from '../components/PageHeading.astro'
import Prose from '../components/Prose.astro'
import Standard from '../layouts/Standard.astro'
---

<Standard
  title="A.R.T. | Kyle Shevlin"
  description="Another Routine Thursday is a weekly opportunity to hang or cowork together in Portland, Oregon"
>
  <Content>
    <Prose>
      <div>
        <PageHeading>A.R.T.</PageHeading>
        <div class="font-sans font-bold">aka Another Routine Thursday</div>
      </div>

      <p>
        <strong>TL;DR;</strong> You're invited to join my Thursday evening routine
        of hanging out at the local&nbsp;pub.
      </p>

      <hr />

      <p>As someone with AuDHD, I often have competing needs and desires.</p>

      <p>
        On the one hand, my ADHD craves the stimulation of a good social hang,
        but hates the work of planning ahead for it. My ADHD isn't a big fan of
        getting my invitations turned down either. Thanks rejection sensitivity
        dysphoria!
      </p>

      <p>
        On the other hand, my autism craves routine and gets tired of trying to
        make all the decisions involved with planning. I just want to know I'm
        going to roughly the same place, at the same time, doing something I
        want to do.
      </p>

      <p>
        Considering those factors, the answer seems pretty obvious: start a new
        social routine. And thus, <strong>Another Routine Thursday</strong>, aka
        A.R.T., is born.
      </p>

      <p>
        A.R.T. is a low-key gathering to hang or cowork together. Each Thursday,
        I'll take my laptop to a bar, and either people join and we hang out, or
        I get some work done. At the very least, I get out of the house and have
        a couple beers. Win-win for me.
      </p>

      <p>
        If you're in the Portland area, I'd love for you to join me some time.
        For now, I'm going to <Link
          href="https://www.instagram.com/beerportland/#"
        >
          Beer
        </Link> at <Link
          href="https://www.google.com/maps/dir//1410+SE+Stark+St,+Portland,+OR+97214/@45.5191125,-122.7336898,38625m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x5495a0a39d8190cd:0xbc8155f7284c138!2m2!1d-122.6512892!2d45.5191421?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D"
        >
          1410 SE Stark St
        </Link> at 7pm every Thursday. Come have a pint.
      </p>
    </Prose>
  </Content>
</Standard>
