<a
  class="group block rounded bg-slate-900 p-8 text-center text-white dark:bg-slate-800"
  href="https://agath.ist"
  rel="noreferrer"
  target="_blank"
>
  <div class="flex flex-col gap-4">
    <span
      class="text-animation bg-gradient-to-r from-rose-500 via-pink-500 to-orange-400 bg-clip-text font-system text-5xl font-bold leading-tight text-transparent"
    >
      Agathist
    </span>

    <div class="font-serif text-xl">
      <span>Good software by good people.</span>
      <span>
        <span class="transition-all group-hover:text-pink-500">Click here</span>
        to learn more.</span
      >
    </div>
  </div>
</a>

<style>
  .text-animation {
    background-size: 200%;
    animation: move-gradient 3s ease infinite;
  }

  @keyframes move-gradient {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
  }
</style>
