---
import { getCollection } from 'astro:content'

interface Props {
  courseNickname?: string
}

const { courseNickname } = Astro.props
const coursesEntries = await getCollection('courses')
const courseNicknames = coursesEntries.map(entry => entry.data.nickname)

let nickname = courseNickname

if (!nickname) {
  const idx = Math.floor(Math.random() * courseNicknames.length)
  nickname = courseNicknames[idx]
}

const course = coursesEntries.find(entry => entry.data.nickname === nickname)!

const { logo, title, url } = course.data
---

<div
  class="flex items-center gap-8 rounded bg-gray-100 p-8 font-sans shadow-md dark:bg-gray-800 xl:p-12"
>
  <div class="flex basis-1/3 items-center justify-center">
    <div class="flex flex-col gap-2">
      <img src={logo} alt={`Logo for ${title}`} />
      <div class="text-center">{title}</div>
    </div>
  </div>

  <div class="flex basis-2/3 flex-col gap-8">
    <div class="text-2xl leading-none">Check out my courses!</div>

    <div>
      If you enjoy my posts, you might enjoy my courses, too. Click the button
      to view the course or go to{' '}
      <a class="text-accent hover:text-accent-dark" href="/courses">
        Courses
      </a>{' '}
      for more information.
    </div>

    <div class="flex">
      <a
        class="rounded bg-accent px-4 py-2 leading-none text-white shadow-md transition-colors hover:bg-accent-dark"
        href={url}
        rel="noreferrer"
        target="_blank"
      >
        View the course
      </a>
    </div>
  </div>
</div>
