---
import Beard from '../icons/Beard.astro'
import { BeardStrokes } from './BeardStrokes'

interface Props {
  slug: string
}

const { slug } = Astro.props
---

<div class="flex flex-col gap-8">
  <div class="font-sans text-2xl font-bold">Finished reading?</div>

  <div>
    Liked the post? Give the author a dopamine boost with a few "beard strokes".
    Click the beard up to 50 times to show your appreciation.
  </div>

  <BeardStrokes client:idle slug={slug}>
    <Beard width={40} />
  </BeardStrokes>
</div>
