---
interface Props {
  alt?: string
  caption?: string
  invertable?: boolean
  src: string
  title?: string
}

const { alt, caption, invertable = false, src, title } = Astro.props
---

<figure
  class="flex flex-col border-2 border-gray-100 shadow-lg dark:border-gray-800"
>
  <div class={`row justify-center ${invertable && 'dark:invert'}`}>
    <img class="block" alt={alt} src={src} title={title} />
  </div>

  {
    caption && (
      <figcaption class="bg-gray-100 px-4 py-2 text-center font-sans text-sm dark:bg-gray-800">
        {caption}
      </figcaption>
    )
  }
</figure>
