---
import { clsx } from 'clsx'

const { pathname } = new URL(Astro.request.url)

const LINKS = [
  { href: '/', title: 'Home' },
  { href: '/all-posts', title: 'All Posts' },
  { href: '/tags', title: 'Tags' },
  { href: '/courses', title: 'Courses' },
  { href: '/snippets', title: 'Snippets' },
  { href: '/about', title: 'About' },
  { href: '/impactful-resources', title: 'Impactful Resources' },
].map(link => ({
  ...link,
  /**
   * I've noticed that on the actual prod site, the pathname is always
   * appended with a `/`, so adding an additional check for that
   */
  isCurrentPage: link.href === pathname || link.href + '/' === pathname,
}))
---

{/* -ml-4 accounts for the px-3 on the link and the px-1 on the text */}
<nav class="-ml-4 font-sans">
  {
    LINKS.map(link => {
      const { href, isCurrentPage, title } = link

      return (
        <a
          class={`group inline-block px-3 py-1 sm:py-2`}
          href={href}
          title={title}
        >
          <span
            class={clsx(
              'inline-block px-1 text-accent transition-colors group-hover:bg-accent group-hover:text-white',
              isCurrentPage && 'font-bold',
            )}
          >
            {title}
          </span>
        </a>
      )
    })
  }
</nav>
