<div class="flex flex-col items-center gap-8 sm:flex-row">
  <div class="flex max-w-[180px] grow justify-center">
    <img
      class="block h-auto w-full rounded-full"
      alt="Kyle Shevlin's face, which is mostly a beard with eyes"
      src="/images/kyle-headshot.jpg"
    />
  </div>

  <div class="grow-[3]">
    Kyle Shevlin is a software engineer who specializes in JavaScript,
    TypeScript, React and frontend web development.
  </div>
</div>
