---
import Tag from '../icons/Tag.astro'
import { toSlug } from '../utils'

interface Props {
  tags: string[]
}

const { tags } = Astro.props
---

<div class="flex items-center gap-4 pt-1 font-sans">
  <div class="flex items-center gap-2">
    <div class="flex translate-y-[1px] items-center text-gray-400">
      <Tag />
    </div>

    <div class="text-sm leading-none">Tags</div>
  </div>

  <div class="flex flex-wrap gap-4">
    {
      tags.map(tag => (
        <a
          class="leading-none text-accent transition-colors hover:text-accent-dark"
          href={`/tags/${toSlug(tag)}`}
        >
          {tag}
        </a>
      ))
    }
  </div>
</div>
