---
import { getCollection } from 'astro:content'
import { byEntryDate, inflect } from '../utils'
import Link from './Link.astro'
import PostExcerpt from './PostExcerpt.astro'
import Prose from './Prose.astro'

const posts = await getCollection('posts')
const postsByDate = posts.toSorted(byEntryDate)
const latest10 = postsByDate.slice(0, 10)
---

<section>
  <Prose>
    <div>
      <h3 class="font-sans text-2xl">Recent Posts</h3>

      <div class="font-sans">
        Displaying the latest {latest10.length} of {posts.length}
        {inflect('post')(posts.length)}
      </div>
    </div>

    <ol class="flex flex-col gap-12">
      {
        latest10.map(post => (
          <li class="border-b-2 border-gray-200 pb-12 dark:border-slate-700">
            <PostExcerpt post={post} />
          </li>
        ))
      }
    </ol>

    <div
      class="flex flex-col gap-4 rounded bg-gray-100 p-8 text-center shadow-md dark:bg-gray-800"
    >
      <div class="font-sans text-2xl">Looking for more posts?</div>

      <div>
        For a list of all of my posts, visit the <Link href="/all-posts">
          {'All Posts'}
        </Link> page.
      </div>

      <a
        class="block rounded bg-accent p-4 text-center font-sans text-xl text-white shadow-md transition-all hover:bg-accent-dark"
        href="/all-posts"
      >
        All Posts
      </a>
    </div>
  </Prose>
</section>
