---
const TAGS = [
  { to: 'react', label: 'React' },
  { to: 'state-machines', label: 'State Machines' },
  { to: 'functional-programming', label: 'Functional Programming' },
  { to: 'software-engineering', label: 'Software Engineering' },
]
---

<section class="flex flex-col gap-6">
  <h3 class="font-sans text-2xl">Unsure where to start?</h3>

  <p>
    I've written a lot of posts over the years! Here are a few collections I
    have hand-selected as good starting points to my writing. Click one to see
    all the posts in that&nbsp;category.
  </p>

  <div class="flex grid-cols-2 grid-rows-2 flex-col gap-4 xs:grid">
    {
      TAGS.map(tag => (
        <a
          class="flex items-center justify-center rounded bg-accent p-6 text-center text-white shadow-md transition-all hover:bg-accent-dark"
          href={`/tags/${tag.to}`}
        >
          <span class="font-sans text-xl">{tag.label}</span>
        </a>
      ))
    }
  </div>
</section>
