---
import Link from './Link.astro'
import PageHeading from './PageHeading.astro'
import Prose from './Prose.astro'
---

<section>
  <Prose>
    <PageHeading>Welcome!</PageHeading>
    <p>
      Hi, I'm Kyle Shevlin, a software engineer and online instructor. This is
      where I share all the content I create. I mostly write articles and create
      courses, focusing on breaking concepts down to their fundamentals.
    </p>
    <p>
      Peruse my blog posts, check out one of my courses (or all of them), and
      sign up for my newsletter if you like what you read.
    </p>
    <p>
      If you need to reach out to me,{' '}
      <Link href="mailto:kyle@kyleshevlin.com">email</Link> is the best way to do
      so.
    </p>
    <p>Enjoy your time here and thank you.</p>
  </Prose>
</section>
