---
import Link from './Link.astro'
import Marker from './Marker.astro'
import Prose from './Prose.astro'
---

<section>
  <Prose>
    <p class="font-sans text-3xl font-bold">
      Hi, I'm Kyle Shevlin! I'm a software engineer with expertise in <Link
        external
        href="https://react.dev"
      >
        React
      </Link>, <Link external href="https://astro.build">Astro</Link>, <Link
        external
        href="https://typescriptlang.org"
      >
        TypeScript
      </Link> and frontend web development.
    </p>
    <p>
      I am also a writer, speaker and coding instructor. This is my personal
      site where I share all the content I create.
    </p>
    <p>
      I write articles and create courses that focus on breaking software
      concepts down to their fundamentals. Check out one of my posts or courses. <Marker
        content="Or all of them."
      /> If you like what you read, then sign up for my newsletter, too.
    </p>
    <p>I hope you enjoy your time here and thank you for visiting.</p>
  </Prose>
</section>
