<div
  class="move-bg rounded bg-gradient-to-br from-rose-500 via-pink-500 to-orange-400 bg-[length:200%] p-8 text-white shadow transition-all"
>
  <div class="flex flex-col gap-6">
    <div class="font-system text-4xl font-bold md:text-6xl">
      Need help with your software&nbsp;problems?
    </div>

    <div class="max-w-[45ch] font-sans text-xl">
      <p>
        My team and I are ready to help you. Hire Agathist to build your next
        great project or to improve one of your existing&nbsp;ones.
      </p>
    </div>

    <a
      class="rounded bg-gray-100 px-4 py-2 text-center font-sans text-lg font-bold text-pink-500 shadow transition-all hover:bg-white"
      href="https://agath.ist/contact"
      target="_blank">Get in touch</a
    >
  </div>
</div>

<style>
  .move-bg {
    animation: move-bg 3s ease infinite;
  }

  @keyframes move-bg {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
  }
</style>
