---
import { getCollection } from 'astro:content'
import Content from '../../components/Content.astro'
import Link from '../../components/Link.astro'
import PageHeading from '../../components/PageHeading.astro'
import Prose from '../../components/Prose.astro'
import { SnippetsTable } from '../../components/SnippetsTable'
import Standard from '../../layouts/Standard.astro'

const snippetEntries = await getCollection('snippets')
---

<Standard title="Snippets | Kyle Shevlin">
  <Content>
    <Prose>
      <PageHeading>Snippets</PageHeading>

      <p>
        Inspired by <Link external href="https://www.joshwcomeau.com/snippets/">
          {"Josh W. Comeau's snippets"}
        </Link>, this is a collection of code snippets I've made over the years
        that you can look at for inspiration or copy/paste at will.
      </p>

      <SnippetsTable client:load snippets={snippetEntries} />
    </Prose>
  </Content>
</Standard>
