<div class="bg-gray-100 p-4 font-sans text-white dark:bg-gray-800">
  <div class="flex flex-col gap-4">
    <div class="primary danger p-2">I will be red</div>
    <div class="danger primary p-2">I will also be red, lol</div>
  </div>
</div>

<style is:inline>
  .primary {
    background-color: blue;
  }

  .danger {
    background-color: tomato;
  }
</style>
